body {
  font-family: Tahoma, sans-serif;
}

.hero-section {
  background-image: url('https://png.pngtree.com/background/20230519/original/pngtree-an-acoustic-guitar-sitting-on-a-dark-picture-image_2653487.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  position: relative;
}


.text-dark-brown {
  color: var(--color-dark-brown);
}

.text-brown {
  color: var(--color-brown);
}

.text-rust {
  color: var(--color-rust);
}

.text-orange {
  color: var(--color-orange);
}

.text-light-orange {
  color: var(--color-light-orange);
}

.text-yellow {
  color: var(--color-yellow);
}

.bg-dark-brown {
  background-color: var(--color-dark-brown);
}

.bg-brown {
  background-color: var(--color-brown);
}

.bg-rust {
  background-color: var(--color-rust);
}

.bg-orange {
  background-color: var(--color-orange);
}

.bg-light-orange {
  background-color: var(--color-light-orange);
}



.bg-yellow {
  background-color: #ffe39c;
}

.bg-yellow2 {
  background-color: #ffcf9c;
}



.about-container {
  background-color: #FFE9B3;
  /* Color de fondo similar al amarillo pálido */
  border-radius: 12px;
  /* Bordes redondeados */
  padding: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 800px;
  /* Ajusta el ancho según sea necesario */
}

.about-title {
  font-size: 2rem;
  color: #6C1A17;
  /* Color marrón similar al texto del título */
  text-align: center;
  margin-bottom: 16px;
}

.about-content {
  font-size: 1rem;
  color: #3A2718;
  /* Color marrón para el texto del párrafo */
  text-align: center;
  line-height: 1.5;
}

.about-content strong {
  font-weight: bold;
}

.mission-section {
  padding: 24px;
  margin: 20px auto;
  max-width: 1000px;
  display: flex;
}

.mission-image {
  width: 100%;
  height: auto;
  max-width: 300em;
  border-radius: 8px;
}


.mission-text {
  padding-left: 24px;
  width: 40%;
}

.mission-title {
  font-size: 2rem;
  color: #6C1A17;
  margin-bottom: 16px;
}

.mission-text p {
  font-size: 1rem;
  color: #3A2718;
  line-height: 1.5;
  padding-right: 10px;
}

mat-panel-title{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  padding-top: 1em;
}



.bg-light-orange:hover {
  cursor: pointer;
}

.member-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.member-info {
  margin-right: 1px;
}

.team-member-image {
  max-width: 300px;
  height: auto;
}

.hero-content, .about-container, .mission-section, .bg-yellow, .bg-yellow2 {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards; 
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.about-container, .mission-section, .bg-yellow, .bg-yellow2 {
  transform: translateY(50px);
  animation: slideUp 0.5s ease-in-out forwards;
}

@keyframes slideUp {
  from { transform: translateY(50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}


.bg-light-orange:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button[mat-raised-button]:hover {
  transform: scale(1.1);
  background-color: #ff8f17;
  color: white;
}

.member-info-container {
  transform: translateX(100%);
  animation: slideIn 1s ease-in-out forwards;
}

@keyframes slideIn {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}