<div class="hero-section">
  <div class="hero-content">
    <h1><b>NOSOTROS</b></h1>
  </div>
</div>

<mat-card class="about-container">
  <h2 class="about-title">¿Quiénes Somos?</h2>
  <div class="about-content">
    <p>
      <strong>MelodyShop</strong> es tu fuente número uno para la mejor música y eventos en vivo. Nos dedicamos a
      ofrecerte lo mejor en música y experiencias, con un enfoque en la calidad, la confianza y el servicio al cliente.
    </p>
    <p>
      Fundada en 2024, MelodyShop ha recorrido un largo camino desde sus inicios. Cuando comenzamos, nuestra pasión por
      la música y los eventos en vivo nos impulsó a crear esta plataforma para que puedas disfrutar de la mejor música
      en cualquier momento y lugar.
    </p>
  </div>
</mat-card>

<mat-card class="container mt-5">
  <mat-card-content>

    <!-- Nuestro Equipo -->
    <mat-card class="bg-yellow2 mb-4">
      <mat-card-content>
        <h2 class="mat-card-title text-dark-brown">Nuestro Equipo</h2>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="24px">
          <mat-card *ngFor="let member of teamMembers" class="bg-light-orange mb-3" (click)="selectMember(member)">
            <mat-card-content>
              <h5 class="mat-card-title text-dark-brown">{{ member.name }}</h5>
              <p class="text-brown">{{ member.role }}</p>
            </mat-card-content>
          </mat-card>
        </div>
        <div *ngIf="selectedMember" class="mt-4">
          <h3 class="text-rust">Información del Miembro</h3>
          <mat-card class="bg-yellow mb-3">
            <mat-card-content>
              <div class="member-info-container">
                <div class="member-info">
                  <p class="text-dark-brown">Nombre: {{ selectedMember.name }}</p>
                  <p class="text-brown">Rol: {{ selectedMember.role }}</p>
                  <p class="text-brown">Biografía: {{ selectedMember.bio }}</p>
                  <p class="text-brown">Responsibilidades: {{ selectedMember.responsibilities }}</p>
                  <p class="text-brown">Contacto: {{ selectedMember.contact }}</p>
                </div>
                <div class="member-image">
                  <img [src]="selectedMember.img" alt="Miembro del Equipo" class="team-member-image">
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

      </mat-card-content>
    </mat-card>

    <!-- Nuestra Historia y Misión -->
    <div fxLayout="row" fxLayoutAlign="space-between center" class="mission-section">
      <div fxFlex="50">
        <img src="/about/mision.png" alt="Misión" class="mission-image">
      </div>
      <div fxFlex="50" class="mission-text">
        <h2 class="mission-title">Misión</h2>
        <p>
          Nuestra misión es proporcionar una experiencia musical incomparable a nuestros usuarios, ofreciendo una
          amplia gama de música y eventos en vivo que inspiran y emocionan. Nos esforzamos por mantener la calidad y
          la innovación en todo lo que hacemos.
        </p>
        <h2 class="mission-title">Visión</h2>
        <p>
          Convertirnos en el epicentro de la comunidad musical, donde artistas y amantes de la música se conectan,
          comparten y celebran la pasión por la música en un ambiente vibrante e inclusivo.
        </p>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" class="mission-section">

      <div fxFlex="50" class="mission-text">
        <h2 class="mission-title">Historia</h2>
        <p>
          MelodyShop nació de la pasión por la música y la necesidad de ofrecer una plataforma única donde los amantes
          de la música puedan disfrutar de sus canciones y eventos favoritos. Recuerdo vívidamente aquellos primeros
          días, trabajando desde un pequeño apartamento, con un equipo de soñadores apasionados, unidos por el amor a la
          música y la convicción de que podíamos marcar la diferencia.
        </p>
      </div>
      <div fxFlex="50">
        <img src="/about/historia.png" alt="Misión" class="mission-image">
      </div>
    </div>



    <!-- Nuestros Valores -->
    <mat-card class="bg-yellow2 mb-4">
      <mat-card-content>
        <h2 class="mat-card-title text-dark-brown">Nuestros Valores</h2>
        <mat-list>
          <mat-list-item class="bg-light-orange text-brown" *ngFor="let value of values" (click)="playNote(value.note)">
            {{ value.text }}
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

    <!-- Comentarios -->
    <mat-card class="bg-yellow mb-4">
      <mat-card-content>
        <h2 class="mat-card-title text-dark-brown">Comentarios</h2>
        <div>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Escribe tu comentario</mat-label>
            <input matInput [(ngModel)]="newComment">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="addComment()">Agregar Comentario</button>
        </div>
        <mat-list class="mt-3">
          <mat-list-item class="bg-light-orange text-dark-brown" *ngFor="let comment of comments; let i = index"> 
            {{ comment }}
            <button mat-icon-button color="warn" (click)="deleteComment(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

  </mat-card-content>
</mat-card>