<div class="banner-container">
  <div class="banner-content">
    <h4>ENTRADAS YA A LA VENTA!!!</h4>
    <h1>Gran Concierto</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <button mat-raised-button color="primary">Mostrar más</button>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col text-center">
      <h1 class="text-dark-brown mb-4">Próximos Eventos Musicales</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let event of upcomingEvents">
      <mat-card class="bg-light-orange mb-4">
        <img mat-card-image [src]="event.image" alt="{{ event.name }}">
        <mat-card-content>
          <h2 class="mat-title text-dark-brown">{{ event.name }}</h2>
          <p class="mat-body text-brown">Fecha: {{ event.date }}</p>
          <p class="mat-body text-brown">Ubicación: {{ event.location }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" (click)="openEventDetails(event)">Ver Detalles</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<div class="custom-section">
  <div class="custom-section-text">
    <h2>Innova con tus gustos</h2>
    <p>Descubre instrumentos únicos y poco convencionales que te permitirán explorar nuevos sonidos y crear música que
      refleje tu estilo propio. ¡Atrévete a ser diferente!.</p>
    <button mat-raised-button color="accent" (click)="navigateToOtraPagina()">Mas Información</button>
  </div>
  <div class="custom-section-images">
    <img src="/events/instrumento1.png" alt="Instrumento 1">
    <img src="/events/instrumento2.png" alt="Instrumento 1">
    <img src="/events/instrumento3.png" alt="Instrumento 1">
  </div>
</div>