<header>
  <nav class="navbar navbar-expand-lg bg-yellow">
    <div class="container-fluid">
      <img src="../../logo.png" alt="logo" style="width: 150px; height: auto;margin-left: 50px;">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto" style="margin-right: 50px;color: #69140e;">
          <li class="nav-item">
            <b><a class="nav-link text-dark-brown" routerLink="/home" style="color: #69140e;">Inicio</a></b>
          </li>
          <li class="nav-item">
            <b><a class="nav-link text-dark-brown" routerLink="/store" style="color: #69140e;">Tienda</a></b>
          </li>
          <li class="nav-item">
            <b><a class="nav-link text-dark-brown" routerLink="/songs" style="color: #69140e;">Tutoriales</a></b>
          </li>
          <li class="nav-item">
            <b><a class="nav-link text-dark-brown" routerLink="/events" style="color: #69140e;">Eventos</a></b>
          </li>
          <li class="nav-item">
            <b><a class="nav-link text-dark-brown" routerLink="/about" style="color: #69140e;">Nosotros</a></b>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>

<main class="flex-grow-1">
  <router-outlet></router-outlet>
  
</main>

<footer class="bg-yellow text-center text-lg-start text-orange mt-4">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">MelodyShop</h5>
        <p>
          Tu fuente número uno para la mejor música y eventos en vivo.
        </p>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark-brown">Home</a>
          </li>
          <li>
            <a href="#!" class="text-dark-brown">Store</a>
          </li>
          <li>
            <a href="#!" class="text-dark-brown">Explore</a>
          </li>
          <li>
            <a href="#!" class="text-dark-brown">Songs</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contacto</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark-brown">Contacta con nosotros</a>
          </li>
          <li>
            <a href="#!" class="text-dark-brown">Ubicación</a>
          </li>
          <li>
            <a href="#!" class="text-dark-brown">Soporte</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center p-3 bg-orange text-yellow">
    © 2024 MusicStore
  </div>
</footer>
