<header>
  <nav class="navbar navbar-expand-lg bg-yellow">
    <div class="container-fluid">
      <a class="navbar-brand text-orange" href="#">MelodyShop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link text-dark-brown" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark-brown" routerLink="/store">Store</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark-brown" routerLink="/songs">Songs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark-brown" routerLink="/events">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark-brown" routerLink="/about">About</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>

<main class="flex-grow-1">
  <router-outlet></router-outlet>
  
</main>

<footer class="bg-yellow text-center text-lg-start text-orange mt-4">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">MelodyShop</h5>
        <p>
          Tu fuente número uno para la mejor música y eventos en vivo.
        </p>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark-brown">Home</a>
          </li>
          <li>
            <a href="#!" class="text-dark-brown">Store</a>
          </li>
          <li>
            <a href="#!" class="text-dark-brown">Explore</a>
          </li>
          <li>
            <a href="#!" class="text-dark-brown">Songs</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contacto</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark-brown">Contacta con nosotros</a>
          </li>
          <li>
            <a href="#!" class="text-dark-brown">Ubicación</a>
          </li>
          <li>
            <a href="#!" class="text-dark-brown">Soporte</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center p-3 bg-orange text-yellow">
    © 2024 MusicStore
  </div>
</footer>
