<div class="hero-section">
  <div class="hero-content">
    <h1><b>MelodyShop</b></h1>
    <p>Tu tienda favorita de instrumentos</p>
    <button><b>CONOCE MÁS</b></button>
  </div>
</div>

<div class="cards-section">
  <mat-card class="example-card" appearance="outlined" *ngFor="let card of cards">
    <div class="icon-circle">
      <mat-icon>{{ card.icon }}</mat-icon>
    </div>
    <mat-card-content>
     <mat-card-title> <b>{{ card.title }}</b></mat-card-title>
      <p>{{ card.content }}</p>
    </mat-card-content>
  </mat-card>
</div>
<div class="empty-section"></div>




<!-- Estructura HTML -->
<div class="container">
  <!-- Columna Izquierda -->
  <div class="left-content">
    <img src="../../img_home/divs.png" alt="Descripción de la imagen izquierda" class="left-image">
  </div>

  <!-- Columna Derecha -->
  <div class="right-content">
    <h2><b>CONÓCENOS</b></h2>
    <h3>MELODY SHOP</h3>
    <p>
      Es una tienda especializada en la venta de instrumentos musicales de alta calidad y accesorios para músicos de todos los niveles. Fundada en 2024, nuestra misión es proporcionar a nuestros clientes una experiencia única en la compra de instrumentos, combinando una amplia gama de productos con un servicio al cliente excepcional.
    </p>
    <img src="../../img_home/comunicate.png" alt="Descripción de la imagen derecha" class="right-image">
  </div>
</div>

<div class="empty-section"></div>







<div class="services-section">
  <h2><b>NUESTROS SERVICIOS</b></h2>
  <div class="services">
    <div class="service-card" *ngFor="let service of services">
      <div class="icon">
        <i class="fas fa-lightbulb"></i>
      </div>
      <h3>{{service.title}}</h3>
      <p>{{service.description}}</p>
    </div>
  </div>
</div>



<div class="container-form p-5">
  <div class="row justify-content-center">
    <div class="col-sm-5">
      <img src="./../img_home/contacto.png" class="img-fluid rounded" alt="Contacto">
    </div>
    <div class="col-sm-5">
      <h2 class="text-center" style="color: #69140e;">Comunícate</h2>
      <h6 class="text-center">Estamos comprometidos a brindar un servicio excelente</h6>
      <form action="https://formspree.io/f/mqazjqqn" method="POST"><br>
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
          <label for="telefono" class="form-label">Número de Teléfono</label>
          <input type="tel" class="form-control" id="telefono" name="telefono" required>
        </div>
        <div class="mb-3">
          <label for="mensaje" class="form-label">Mensaje</label>
          <textarea class="form-control" id="mensaje" name="mensaje" rows="3" required></textarea>
        </div>
        <div class="hero-content">  
          <button type="submit">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
