<div class="hero-section">
  <div class="hero-content">
    <h1><b>MelodyShop</b></h1>
    <p>Tu tienda favorita de instrumentos</p>
    <button><b>CONOCE MÁS</b></button>
  </div>
</div>

<div class="cards-section">
  <mat-card class="example-card" appearance="outlined" *ngFor="let card of cards">
    <div class="icon-circle">
      <mat-icon>{{ card.icon }}</mat-icon>
    </div>
    <mat-card-content>
     <mat-card-title> <b>{{ card.title }}</b></mat-card-title>
      <p>{{ card.content }}</p>
    </mat-card-content>
  </mat-card>
</div>
<div class="empty-section"></div>




<mat-grid-list cols="2" rowHeight="2:1">
  <!-- Columna Izquierda -->
  <mat-grid-tile>
    <img src="../../img_home/divs.png" alt="Descripción de la imagen izquierda" class="left-image">
  </mat-grid-tile>

  <!-- Columna Derecha -->
  <mat-grid-tile>
    <div class="right-content">
      <h2><b>CONÓCENOS</b></h2>
      <h3>MELODY SHOP</h3>
      <p>
        Es una tienda especializada en la venta de instrumentos musicales de alta calidad y accesorios para músicos de todos los niveles. Fundada en 2024, nuestra misión es proporcionar a nuestros clientes una experiencia única en la compra de instrumentos, combinando una amplia gama de productos con un servicio al cliente excepcional.
      </p>
      <img src="../../img_home/comunicate.png" alt="Descripción de la imagen derecha" class="right-image">
    </div>
  </mat-grid-tile>
</mat-grid-list><br><br><br><br><br>
<div class="empty-section"></div>


<div class="services-section">
  <h2><b>NUESTROS SERVICIOS</b></h2>
  <div class="services">
    <div class="service-card" *ngFor="let service of services">
      <div class="icon">
        <i class="fas fa-lightbulb"></i>
      </div>
      <h3>{{service.title}}</h3>
      <p>{{service.description}}</p>
    </div>
  </div>
</div>






